<div id="slide">
	<%= image_tag("slide-1.png", class: "slide-img", id: "slide-1") %>
	<%= image_tag("slide-2.png", class: "slide-img hidden", id: "slide-2") %>
	<%= image_tag("slide-3.png", class: "slide-img hidden", id: "slide-3") %>
</div>