// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.white {
	background-color: white;
}

.light-blue {
	color: #2A8AA7;
	letter-spacing: 1px;
}

body {
	background-color: #163850;
	font-family: Helvetica;

}

ul {
    float: right;
    list-style: none;
    color: #2A8AA7;
    padding-top: 10px;
    li {
      float: left;
      margin-left: 15px;
      color: #2A8AA7;
    }
  }

  #bunny-small {
  	display: inline-block;
  	padding-top: 10px;
  }

  h1 {
  	color: white;
  	margin-bottom: 30px;
  	text-align: center;
  }

  #left-col {
 	padding-right: 20px;
  }

.msg-container {
	margin-bottom: 10px;
}
  .message {
  	background-color: white;
  	padding: 10px 10px 0 10px;
  	border-radius: 5px;
  	color: black;
	width: 500px;
	display: inline-block;
  }

  .my-message {
  	margin-left: 20px;
  	float: left;
  }

  .other-message {
  	float: right;
  }

  .msg-tag {
  	text-align: right;
  }

  .timestamp {
  	font-size: 10px;
  }

  .msg-icon {
  	display: inline-block;
  	margin-right: 5px;
  	margin-left: 5px;
  	border-radius: 50%;
  }

  .right-box {
  	text-align: center;
  	padding: 5px;
  	width: 90%;
  	margin-left: 10px;
  	margin-right: 10px;
  	border-radius: 5px;
  	margin-bottom: 10px;
  }

  .centered-pic {
  	margin: 0 auto;
  }

#text-area {
	height: 120px;
	width: 90%;
}

#send-btn {
	width: 100%;
	height: 40px;
	background-color: #2A8AA7;
	color: white;
	font-weight: bold;
	vertical-align: center;
	letter-spacing: 1px;
	&:hover {
	   background-color: #FD8888;
	  text-decoration: none;
	}
}

.kristy-small {
	height: 74px;
	width: auto;
}

#slide {
	text-align: center;
}
.slide-img {
	width: 75%;
	height: auto;
	margin: 0 auto;
}

.hidden {
	display: none;
}
