// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.white {
	background-color: white;
}

.light-blue {
	color: #2A8AA7;
}

body {
	background-color: #163850;
}

ul {
    float: right;
    list-style: none;
    color: #2A8AA7;
    padding-top: 10px;
    li {
      float: left;
      margin-left: 15px;
      color: #2A8AA7;
    }
  }

  #bunny-small {
  	display: inline-block;
  	padding-top: 10px;
  }
